@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #ffffff (white)
  Header nav a (active): #ffffff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.header{
      height: 68px;
    padding-top: 19px;
}
 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.relative {
  width: 500px;
  height: 500px;
  background-color: red;
}

.absolute {
  width: 50px;
  height: 50px;
  background-color: blue;
}
/*header styling begins*/
.container{
  font-family: sans-serif;
}
.wrapper{
  width: 900px;
  margin: 0 auto;
}
.logo{
  padding-top: 7px;
  padding-bottom: 39px;
  float: left;
}
.logo a{
  display: inline-block;
}
.nav{
  margin:0;
  padding: 0;
 /* padding-top: 16px;
  padding-bottom: 32px;*/
  overflow: hidden;
  float: right;
}
.nav li{
  padding: 2px 16px;
  float: left;
  /*margin-right: 60px;*/
  display: inline-block;
}
.hover-nav{
  border: 1px solid black;
  display: none;
;
}
/*.services a:hover .hover-nav{
  display: block;
}*/
.nav li a{
  display: block;
  text-align: center;
   padding: 14px 16px;
  text-decoration: none;
  color: #434343;
}
.nav li:last-child{
  margin-right: 0;
}
.nav li a:hover{
 
  font-weight: 400;
  color: #ff5f3b;
}
.nav li a:active{
  color: #5f2073;
}
.nav li a:hover .hover-nav li{
  display: block;
}

/*header styling ends*/

/*banner styling begins*/
.main-top{
  position: relative;
  background-color: #5f2073;
}
h2{

  font-weight: 900;
  padding-top: 60px;
  color: #fff;
  font-size: 60px;
}
.main-top span{
   font-family: "Alegreya Sans";
  color: #fff;
      letter-spacing: 1px;
  font-size: 40px;
  font-weight: 100;
}
.free-roboots{
  opacity: 0.2;
  width: 448px;
  padding-top: 10px;
  color: #fff;
  font-size: 15px;
  line-height: 1.5em;
}
.free-roboots span{
  display: block;
  font-size: 14px;
}
.contact{
  margin-top: -33px;
  margin-left: 90px;
  display: inline-block;
  transform: translate(500px,-160px);
  color: #fff;
}
.contact a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.contact a:hover{
  color:#E75727;
}
.pricing-link a{
  font-weight: 700;
      box-shadow: 0px 4px 2px #B13323;
    border-radius: 6px;
  text-decoration: none;
  padding: 14px 23px;
  color: #fff;
  background-color: #ff5f3b;
}
.pricing-link a:hover{

color: #000;
}
.pricing-link{
      margin-left: 5px;
  display: inline-block;
  transform: translate(200px,-80px);
}
.server{
  position: relative;
      right: 282px;
    bottom: 71px;
}
.server img{
      width: 165%;
    height: 401px;
}
.left-slide{
  position: absolute;
  left: 50px;
  top: 225px
}
div.left-slide img:hover{
  background-color: #230826;

}
.right-slide{
  position: absolute;
  right: 50px;
  top: 225px;
}
div.right-slide img:hover{
  background-color: #230826;

}
.wifi-image{
  position: absolute;
  bottom: 0px;
  right: 8px;
}
/*banner styling ends*/

/*main content styling begins*/
h3{
  width: 950px;
  padding: 50px 0;
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  color: #0a0a0a;
}
h3 span{
  font-weight: 600;
}
h4{
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid rgb(188, 188, 188);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #67267a;
}
.hard-drives{
  width:950px;
  vertical-align: center;
}
.dedicated-servers{
  border-radius: 4px;
  width: 215px;
  height: 400px;
  margin-right: 18px;
  display: inline-block;
  background-color: #F3F3F3;
}
.dedicated-servers p.subpara{
  opacity: 0.2;
  font-weight: 600;
  text-align: center;
  font-size:small;
}
.vps{
  border-radius: 4px;
  width: 215px;
  height: 400px;
  margin-right: 18px;
  display: inline-block;
  background-color: #F3F3F3;
}
.vps p.subpara{
  opacity: 0.2;
  font-weight: 600;
  text-align: center;
  font-size:small;
}
.shared-hosting{
  border-radius: 4px;
  width: 215px;
  height: 400px;
  margin-right: 18px;
  display: inline-block;
  background-color: #F3F3F3;
}
.shared-hosting p.subpara{
  opacity: 0.2;
  font-weight: 600;
  text-align: center;
  font-size:small;
}
.colocation{
  border-radius: 4px;
  width: 215px;
  height: 400px;
  margin-right: 2px;
  display: inline-block;
  background-color: #F3F3F3;
}
.colocation p.subpara{
  opacity: 0.2;
  font-weight: 600;
  text-align: center;
  font-size:small;
}
.dedicated-servers img{
  padding: 15px 15px 15px 62px;
}
.vps img{
  padding: 15px 15px 15px 62px;
}
.shared-hosting img{
  padding: 15px 15px 15px 62px;;
}
.colocation img{
 padding: 15px 15px 15px 62px;
}
.servers-text{
  color: gray;
  margin-bottom: 22px;
  line-height: 30px;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 25px;
}
.vps-text{
  color: gray;
  margin-bottom: 22px;
  padding-top: 15px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 25px;
}
.shared-text{
  color: gray;
  margin-bottom: 22px;
  padding-top: 15px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 25px;
}
.colocation-text{
  color: gray;
  margin-bottom: 22px;
  line-height: 30px;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 25px;
}
.servers-text span{
  font-weight: 700;
    color: #808080;
}
.vps-text span{
  font-weight: 700;
    color: #808080;
}
.shared-text span{
  font-weight: 700;
    color: #808080;
}
.colocation-text span{
  font-weight: 700;
    color: #808080;
}
.dedicated-servers a{
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 4px 2px #B13323;
    border-radius: 6px;
  padding: 18px 38px;
  margin-left: 30px;
  color: #fff;
  background-color: #ff5f3b;
}
.dedicated-servers a:hover{
  color:#000;
}
.vps a{
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 4px 2px #B13323;
    border-radius: 6px;
  padding: 18px 38px;
  margin-left: 30px;
  color: #fff;
  background-color: #ff5f3b;
}
.vps a:hover{
  color:#000;
}
.shared-hosting a{
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 4px 2px #B13323;
    border-radius: 6px;
  padding: 18px 38px;
  margin-left: 30px;
  color: #fff;
  background-color: #ff5f3b;
}
.shared-hosting a:hover{
color:#000;
}
.colocation a{
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 4px 2px #B13323;
    border-radius: 6px;
  padding: 18px 38px;
  margin-left: 30px;
  color: #fff;
  background-color: #ff5f3b;
}
.colocation a:hover{
  color:#000
}
.main-bottom{
  text-align: center;
}
.decision{
  padding-top: 30px;
}
.decision p{
  font-size: 36px;
  line-height: 2em;
}
.decision a{
  text-decoration: none;
  color: #5b136d;
}
.decision a:hover{
  color:#E75727;
}
.decision .or{
      font-weight: 700;
      font-size: 28px;
  color: #5b136d;
}
.business-enterprise{
  padding: 44px 0;
}
.business{
      color: #230826;
  width: 400px;
  margin-right: 8px;
  display: inline-block;
  font-size: 16px;
  text-align: justify;
}
.enterprise-grade{
      color: #230826;
  width: 400px;
  display: inline-block;
  font-size: 16px;
  text-align: justify;
}
.sponsers{
  padding: 34px 0;
  color: #868686;
  font-weight: 700;
}
.sponsers p{
  margin-bottom: 15px;
}
/*main content styling ends here*/

/*footer begins*/
.footer{
  padding-top: 20px;
  position: relative;
  background-color: #f3f3f3;
}
.footer-nav li{
  padding: 10px;
  display: inline-block;
  margin-right: 30px;
}
.footer-nav li:last-child{
  margin-left: 40px;
}
.footer-nav li a{
  text-decoration: none;
  color: #ff5f3b;
  font-weight: 700;
}
.footer-nav li a:hover{
  cursor: default;
}
.hard-drives-nav{
  position: absolute;
  left: 373px;
  top: 60px;
}
.hard-drives-nav li{
  list-style-type: none;
  color: #434343;
}
.hard-drives-nav li:hover{
  color:#000;
  cursor: pointer;
}
.about-nav{
  position: absolute;
  right: 486px;
  top: 60px;
}
.about-nav li{
  list-style-type: none;
  color: #434343;
}
.about-nav li:hover{
  color:#000;
  cursor: pointer;
}
.support-nav{
  position: absolute;
  right: 168px;
  top: 60px;
}
.support-nav li{
  list-style-type: none;
  color: #434343;
}
.support-nav li a{
  text-decoration: none;
  color: #5b136d;
  font-weight: 700;
}
.support-nav li a:hover{
  color:#E75727;
}
.footer-text{
  padding-top: 60px;
}
.design{
  padding: 30px 0;
  float: left;
}
.design span{
  color: #565656;
}
.digital-landscape{
  padding: 30px 0;
  float: right;
}
.digital-landscape span{
  color: #565656;
}
/*footer ends*/
